<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">à propos de nous</h5>
                    <h1 class="mb-0">Installateur engagé de borne de recharge pour VE et CPO (Charge Point Operator)</h1>
                </div>
                <p class="mb-4">
                    Chez Veco Avempace, nous sommes engagés à transformer la mobilité en la rendant plus durable, accessible et intuitive. Spécialisés dans les solutions de recharge pour véhicules électriques, nous mettons à votre service notre expertise, des technologies de pointe et un accompagnement personnalisé pour répondre à vos besoins. Nos OSM (Offre Sur Mesure) allient performance, fiabilité et respect de l’environnement, tout en s’adaptant à vos projets, qu’ils soient résidentiels, professionnels ou urbains.
                    En choisissant Veco Avempace, vous optez pour un partenaire de confiance, déterminé à faire de votre transition vers l’électrique une expérience simple et efficace.
                </p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Accompagnement Personnalisé</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Equipe Dévouée</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Prix Compétitifs</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Support 24/7</h5>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Pour toute question appelez :</h5>
                        <h4 class="text-primary mb-0">+212 6 43 17 75 83</h4>
                    </div>
                </div>
                <a href="quote.html" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Obtenir une cotation</a>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="~/landingpage/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>