<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            @* <h5 class="fw-bold text-primary text-uppercase">Why choose the VECO</h5> *@
            <h1 class="mb-0">Why choose the VECO Avempace solution ?</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-cubes text-white"></i>
                        </div>
                        <h4>Installation clé en main</h4>
                        <p class="mb-0">Nous prenons en charge l’ensemble du projet, de l'audit des besoins à la maintenance des bornes, en passant par l'installation et la formation des utilisateurs.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-award text-white"></i>
                        </div>
                        <h4>Flexibilité et adaptabilité</h4>
                        <p class="mb-0">Que vous ayez besoin de quelques bornes pour vos locaux ou d’une infrastructure plus importante pour votre flotte de véhicules, nos solutions sont modulables et évolutives.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-users-cog text-white"></i>
                        </div>
                        <h4>Gestion optimisée</h4>
                        <p class="mb-0">Grâce à notre plateforme de gestion en ligne, suivez en temps réel l’utilisation de vos bornes, la consommation d’énergie, et accédez à des rapports détaillés pour optimiser la gestion de votre infrastructure.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="~/landingpage/img/feature.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-users-cog text-white"></i>
                        </div>
                        <h4>Accompagnement personnalisé</h4>
                        <p class="mb-0">Notre équipe d'experts vous accompagne tout au long de votre projet, de la planification initiale à la mise en service, en passant par le financement et la recherche de subventions.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <h4>Conformité et sécurité</h4>
                        <p class="mb-0">Toutes nos bornes respectent les normes européennes et sont conçues pour garantir la sécurité des utilisateurs et des installations.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <h4>Audit et Conseil</h4>
                        <p class="mb-0">Étude de faisabilité et recommandations sur le type et le nombre de bornes nécessaires en fonction de vos besoins spécifiques.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>