<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- optional: disable the offline feed if it causes noise
    <add key="Microsoft Visual Studio Offline Packages" value="%ProgramFiles(x86)%\Microsoft SDKs\NuGetPackages\" protocolVersion="3" />
    -->
  </packageSources>

  <packageSourceMapping>
    <!-- Allow all packages from nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
