@page
@model Indotalent.Pages.ProduitsModel
@{
}

<!-- Slick -->
<link type="text/css" rel="stylesheet" href="css/slick.css" />
<link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" href="css/style.css" />

<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>

</style>

<!-- MAIN HEADER -->
<div id="header">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- SEARCH BAR -->
            <div class="col-lg-6 offset-lg-3">
                <div class="header-search">
                    <form>
                        <select class="input-select" id="categorieid">
                            <option value="0">Catégories</option>
                            <option value="1">AC</option>
                            <option value="1">DC</option>
                        </select>
                        <input class="input" placeholder="Search here">
                        <button class="search-btn">Search</button>
                    </form>
                </div>
            </div>
            <!-- /SEARCH BAR -->
            <!-- ACCOUNT -->
            <div class="col-md-3 clearfix">
                <div class="header-ctn">
                    <!-- Cart -->
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Your Cart</span>
                            <div class="qty">
                                <label class="form-label" id="idcounter">0 <span class="text-danger"></span></label>
                            </div>
                        </a>
                        <div class="cart-dropdown">
                            <div class="cart-list" id="cardlistid">
                            </div>
                            <div class="cart-summary">
                                <small id="idcountersmall"></small>
                               
                            </div>
                            <div class="cart-btns">
                                <a href="#">View Cart</a>
                                <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ACCOUNT -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- /MAIN HEADER -->

<!-- SECTION ALL PRODUCTS-->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                <div class="product" id="homet1">
                                    <div class="product-img">
                                        <img src="./img/homet.png" alt="">
                                        <div class="product-label">
                                            @*   <span class="new">NEW</span> *@
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Catégorie : AC</p>
                                        <h2 class="product-name"><a href="#"><strong>Home T</strong></a></h2>
                                        <h4 class="product-price">Dazebox Home <ins class="product-old-price">With cable/Avec calbe</ins></h4>
                                        <div class="product-btns">
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn" onclick="addtocart('homet1', './img/homet.png', 'Home T', 'Dazebox Home' )"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product" id="homes1">
                                    <div class="product-img">
                                        <img src="./img/homeS.png" alt="">
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Catégorie : DC</p>
                                        <h2 class="product-name"><a href="#"><strong>Home S</strong></a></h2>
                                        <h4 class="product-price">Dazebox Home <ins class="product-old-price">With socket/Avec prise</ins></h4>
                                        <div class="product-btns">
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn" onclick="addtocart('homes1', './img/homeS.png', 'Home S', 'Dazebox Home' )"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product" id="hometk1">
                                    <div class="product-img">
                                        <img src="./img/homeTK.png" alt="">
                                        <div class="product-label">
                                            @*   <span class="new">NEW</span> *@
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Catégorie : AC</p>
                                        <h2 class="product-name"><a href="#"><strong>Home TK</strong></a></h2>
                                        <h4 class="product-price">Dazebox Home <ins class="product-old-price">With cable/Avec calbe</ins></h4>
                                        <div class="product-btns">
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn" onclick="addtocart('hometk1', './img/homeTK.png', 'Home TK', 'Dazebox Home' )"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product" id="homesk1">
                                    <div class="product-img">
                                        <img src="./img/homeS.png" alt="">
                                        <div class="product-label">
                                            @*   <span class="new">NEW</span> *@
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Catégorie : DC</p>
                                        <h2 class="product-name"><a href="#"><strong>Home SK</strong></a></h2>
                                        <h4 class="product-price">Dazebox Home <ins class="product-old-price">With socket/Avec prise</ins></h4>
                                        <div class="product-btns">
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn" onclick="addtocart('homesk1', './img/homeS.png', 'Home SK', 'Dazebox Home' )"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product" id="dazeboxc1">
                                    <div class="product-img">
                                        <img src="./img/dazeboxc.png" alt="">
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Catégorie : AC</p>
                                        <h2 class="product-name"><a href="#"><strong>Dazebox C</strong></a></h2>
                                        <h4 class="product-price">Dazebox C <ins class="product-old-price">With cable/Avec calbe</ins></h4>
                                        <div class="product-btns">
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn" onclick="addtocart('dazeboxc1', './img/dazeboxc.png', 'Dazebox C', 'Dazebox C' )"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </div>
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /SECTION ALL PRODUCTS -->

<!-- Vendor Start -->
@await Html.PartialAsync("__Vendor")
<!-- Vendor End -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script type="text/javascript">
            var arraylist = new Array();
            var count = 0;


         function deleteproduct(id){
                 var index = arraylist.findIndex(function (newProduct) {
                    return newProduct.id === id;
                });

                var arraycount = +arraylist[index].count;
                count =  count - Number(arraycount)
                $('#idcounter').text(count);

                if (index !== -1) {
                arraylist.splice(index, 1);
                    };

                $('#idcountersmall').text(arraylist.length + ' Item(s) selected');

                    var productWidget = document.getElementById(id + 'widget');
                    if (productWidget) {
                            productWidget.remove();
                        }
         }

        function addtocart(id, srcimage, name, type) {
                count = +count + +1;
                $('#idcounter').text(count);

                var index = arraylist.findIndex(function (newProduct) {
                    return newProduct.id === id;
                });

                    if(index === -1)
                    {

                    ////////////////////////////////////////////
                        // Create product-widget div
                        const productWidget = document.createElement('div');
                        productWidget.id= id + 'widget';
                        productWidget.classList.add('product-widget');

                        // Create product-img div and img
                        const productImg = document.createElement('div');
                        productImg.classList.add('product-img');
                        const img = document.createElement('img');
                        img.src = srcimage; //'./img/homet.png';
                        img.alt = '';
                        productImg.appendChild(img);

                        // Create product-body div
                        const productBody = document.createElement('div');
                        productBody.classList.add('product-body');

                        // Create product name (h3)
                        const productName = document.createElement('h3');
                        productName.classList.add('product-name');
                        const link = document.createElement('a');
                        link.href = '#';
                        link.textContent = name;
                        productName.appendChild(link);

                        // Create product price (h4)
                        const productPrice = document.createElement('h4');
                        productPrice.classList.add('product-price');
                        const qtySpan = document.createElement('span');
                        qtySpan.id = id + 'qty' ;
                        qtySpan.classList.add('qty');
                        qtySpan.textContent = '1x';
                        productPrice.appendChild(qtySpan);
                        productPrice.appendChild(document.createTextNode(type));

                        // Append product name and price to product-body
                        productBody.appendChild(productName);
                        productBody.appendChild(productPrice);

                        // Create delete button
                        const deleteButton = document.createElement('button');
                        deleteButton.classList.add('delete');
                        const deleteIcon = document.createElement('i');
                        deleteIcon.classList.add('fa', 'fa-close');
                        deleteButton.appendChild(deleteIcon);
                        deleteButton.onclick = function () { deleteproduct(id); };

                        // Append product-img and product-body to product-widget
                        productWidget.appendChild(productImg);
                        productWidget.appendChild(productBody);
                        productWidget.appendChild(deleteButton);

                        // Append product-widget to the cart-list
                         var p = document.getElementById('cardlistid');
                             p.appendChild(productWidget);

                    ////////////////////////////////////////////
                              arraylist.push({ id: id, count: '1' });
                        }
                        else{

                            var arraycount = +arraylist[index].count + 1;
                            arraylist[index].count = arraycount;

                            var qty = document.getElementById(id + 'qty');
                            qty.textContent = arraycount + 'x';
                        }

                        $('#idcountersmall').text(arraylist.length + ' Item(s) selected');
        };



</script>